.resumeContainer {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('../../assets/yellowStars.jpeg');
}

.pictureFrame {
    background-image: url('../../assets/goldArtFrameWhiteBckg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 40vh;
    width: 99vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.resumeImage {
    height: 15vh;
    width: auto;
}

#resumeLink{
    width: 250px;
    height: auto;
    padding: 4px;
    border-bottom: 1px dashed black;
}

#resumeLink {
    text-align: center;
}



.homeFrame {
    background-image: url('../../assets/goldFrameWhiteBck.png');
    display: flex;
    width: 229px;
    height: 185px;
    background-size: contain;
    background-repeat: no-repeat;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.homeLink {
    font-family: "didot", "serif", monospace;
    margin-top: -5px;
    border-bottom: 1px dashed black;
}

#homeButton {
    width: 40px;
    height: auto;
    padding: 1px;
}




/* .resumeContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
}

.pictureFrame {
    background-image: url('../../assets/goldArtFrameWhiteBckg.png');
    background-size: 51vw 49vh;
    background-repeat: no-repeat;
    background-position: center;
    height: 47%;
    width: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}



.picture{
    height: 50vh;
    width: auto;
}

#resumeLink{
    width: 250px;
    height: auto;
    padding: 14px;
    border-bottom: 1px dashed black;
}

.home{
    background-image: url('../../assets/goldFrameWhiteBck.png');
    display: flex;
    width: 229px;
    height: 185px;
    background-size: contain;
    background-repeat: no-repeat;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.home p{
    font-family: "didot", "serif", monospace;
    margin-top: -5px;
    border-bottom: 1px dashed black;
}

#homeButton{
    width: 40px;
    height: auto;
    padding: 1px;
} */

/* .pictureFrame{
    background-image: url('../../assets/goldArtFrameWhiteBckg.png');
    background-size: 40vw 40vh, cover;
    background-repeat: no-repeat;
    background-position: center, center;
    height: 100%;
    width: auto;  
    display: flex;
    align-items: center;
    flex-direction: column;
} */
