#header{
  font-family: bilo, sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 120px;
  color: #fcc414;
  position: relative;
  text-align: center;
}

div.thought{
  position: relative;
  height: 300px;
	width: 300px;
	text-align: center;
	/* line-height: 1.7em; */
	margin: 80px auto;
	background-color: rgb(255, 255, 255);
	border: 8px solid rgb(0, 0, 0);
	border-radius: 50px;
	padding: 20px;
}


/* icon links Email then Linked then Git*/
.fa-regular{
  color:rgb(0, 0, 0);
  font-size: 48px;
}

.fab {
  color:#0C64C4;
  font-size: 48px;
  border: 1px solid;
  padding: 3px;
}

.fa {
  color: #24285D;
  cursor: pointer;
  font-size: 48px;
  border: 2px dotted;
  border-radius: 30px;
  
}

/* */

#email{
  font-family: 'Courier New', monospace;
  font-weight: 100;
  padding: 5px;
}

#linkedin{
  font-family: rampart-one, sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-bottom: 8px;
}

#github{
  font-family: forma-djr-deck, sans-serif;
  font-weight: 600;
  font-style: normal;
  padding: 7px;
}


#homeContact {
  height: 65px;
  width: 82px;
  display: flex;
  background-color: white;
  border-radius: 24px;
  border: black solid 4px;
  padding: 5px;
  margin: 50px auto;
}

#homeText{
  position: relative;
  right: 13px;
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-size: 12px;
  color: black;
}

/* div.thought:before,
div.thought:after {
  content: ' ';
	position: absolute;
	bottom: -68px;
  right: 131px;
	width: 60px;
	height: 40px;
	background-color: #fff;
	border: 8px solid rgb(0, 0, 0);
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
  
}



div.thought:after {
	width: 30px;
	height: 20px;
  left: 140px;
	bottom: -107px;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	border-radius: 14px;
  
} */
