.background {
    background-image: url("../../assets/floppyDiscNameStars.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: drop-shadow(1rem 1.2rem .2rem rgba(0, 0, 0, 0.2));
    height: 80vh;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}


.links {
    font-family: permanent-marker, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.10;
    color: black;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;

    flex-grow: 1;
    font-size: 5vh;
    flex-shrink: 0;
    flex-basis: auto;

    margin-bottom: 2px;
}

.links button {
    font-family: permanent-marker, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.10;
    color: black;

    border: none;
    background-color: transparent;
    padding: 0px;
    cursor: pointer;

    flex-grow: 1;
    font-size: calc((var(--h) / 16));
    flex-shrink: 0;
    flex-basis: auto;
}

/* about me modal */
.newsModal {
    width: 677px;
    height: 858px;
}

/* .ReactModal__Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    
} */


.aboutMeHeader button {
    font-family: "Courier", "Courier New", monospace;
    font-size: 25px;
    cursor: pointer;
    margin-block-end: 1em;
    border: 2px solid black;
    border-radius: 5px;
}

.repStars {
    font-size: 30px;
}

.star {
    display: none;
    margin-left: 10px;
}

a:hover+.star {
    display: inline-flex;
    position: absolute;
}

button:hover+.star {
    display: inline-flex;
    position: absolute;
}

a:-webkit-any-link {
    color: black;
    cursor: pointer;
    text-decoration: none;
}