#info{
    font-family: bebas-neue-rounded,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: calc(18px + 2vmin);
    /* text-decoration: underline solid 5px; */
    text-shadow: black 4px 4px 4px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    color: white;
    position: relative;
    
    top: 70px;
    line-height: 1.4;
    text-align-last: center;
}

#arrow{
    height: 36px;
    width: 118px;
    position: relative;
    top: 3px;
    left: -54px;
    transform: rotate(-0.5turn);
}

#home{
    position: relative;
    top: -56px;
    right: -60px;
    font-size: calc(21px + 2vmin);
}