/* *{
    overflow-y: hidden;
} */

.name{
    font-family: bebas-neue-rounded,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: calc(80px + 2vmin);
    text-shadow: black 5px 5px 5px;
    display: flex;
    justify-content: center;
    color: white;
    position: absolute;
    left: 578px;
}

.links{
    font-family: bebas-neue-rounded,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: calc(60px + 2vmin);
    /* text-decoration: underline solid 5px; */
    text-shadow: black 4px 4px 4px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    color: white;
    position: absolute;
    left: 598px;
    top: 229px;
    cursor: pointer;
}

div + div{
    margin-top: 25px;
}

a:-webkit-any-link {
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.video-react-video{
    position: relative;
    top: -613px;
    left: 452px;
    height: 724px;
    width: 909px;
    
  
}

#vid{
    position: relative;
    /* top: -67px; */
    left: -418px;
    height: 470px;
    width: 700px;
    z-index: 3;
    
}



.modal{
    position:relative;
    
}

#tv{
    height: 669px;
    width: 1005px;
    position: relative;
    left: 366px;
    top: 110px;
    z-index: 1;
}

#remote{
    height: 452px;
    width: 236px;
    position: relative;
    top: 10px;
    left: -937px;
}



#modalButton{
    position: relative;
    top: 649px;
    right: -144px;
    height: 38px;
    width: 81px;
    border-radius: 1px;
    background-color: #323232;
    outline-style: solid;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(218, 218, 218);
    z-index: 1;
    color: white;
    font-size: 19px;
    cursor: pointer;
}

.video-react-button.video-react-big-play-button{
    display: hidden !important;
    position: relative;
    top: -177px;
    right: -139px;
    height: 42px;
    width: 93px;
    background-color: #323232;
    outline-style: solid;
    color: white;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(218, 218, 218);
    z-index: 1;
    font-size: 15px;
} 



/* gets rid of the control bar being shown automatically at the bottom */
.video-react-control-bar{
    display: none;
    position: relative;
    top: -500px;
}

.video-react{
    padding-top: 0% !important;
    overflow-y: hidden;
    height: 800px;
    
}

.video-react-play-control{
    position: relative;
    top: -363px;
    right: 1090px;
    height: 69px;
    width: 69px;
    border-radius: 100px;
    background-color: #323232;
    outline-style: solid;
    color: white;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(218, 218, 218);
    z-index: 1;
    font-size: 19px;
    cursor: pointer;
}

#upVol{
    position: relative;
    top: -434px;
    right: -122px;
    height: 59px;
    width: 62px;
    color: white;
    background-color: #323232;
    border-color: rgb(218, 218, 218);
    outline-style: solid;
    border-top-right-radius: 31px;
    border-top-left-radius: 31px;
    font-size: 16px;
}

#downVol{
    position: relative;
    top: -371px;
    right: -60px;
    height: 59px;
    width: 62px;
    color: white;
    background-color: #323232;
    border-color: rgb(218, 218, 218);
    outline-style: solid;
    border-bottom-right-radius: 31px;
    border-bottom-left-radius: 31px;
    font-size: 16px;
}

.video-react-volume-menu-button{
    /* position: relative; */
    top: -413px;
    right: 1102px;
    height: 42px;
    width: 93px;
    /* background-color: #323232; */
    /* font-family: 'video-react' !important; */
    outline-style: solid;
    color: white;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(218, 218, 218);
    z-index: 1;
    font-size: 19px;
}






