.name{
    font-family: bebas-neue-rounded,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: calc(80px + 2vmin);
    text-shadow: black 5px 5px 5px;
    display: flex;
    justify-content: center;
    color: white;
    position: absolute;
    left: 578px;
}

.links{
    font-family: bebas-neue-rounded,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: calc(60px + 2vmin);
    line-height: 1.45;
    /* text-decoration: underline solid 5px; */
    text-shadow: black 4px 4px 4px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    color: white;
    position: absolute;
    left: 598px;
    top: 200px;
    cursor: pointer;
}

/* div + div{
    margin-top: 25px;
} */

a:-webkit-any-link {
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.video-react-video{
    position: relative;
    top: -613px;
    left: 452px;
    height: 724px;
    width: 909px;
    
}

#tv{
    height: 669px;
    width: 1005px;
    position: relative;
    left: 366px;
    top: 110px;
    z-index: 1;
}

#remote{
    height: 452px;
    width: 236px;
    position: relative;
    top: 10px;
    left: -937px;
}

.video-react{
    padding-top: 0% !important;
    overflow-y: hidden;
    height: 800px;
    
}

/* play/pause button */
.video-react-play-control{
    position: relative;
    top: -363px;
    right: 1090px;
    height: 69px;
    width: 69px;
    border-radius: 100px;
    background-color: #323232;
    outline-style: solid;
    color: white;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(218, 218, 218);
    z-index: 1;
    font-size: 19px;
    cursor: pointer;
}

#upVol{
    position: relative;
    top: -425px;
    right: -122px;
    height: 59px;
    width: 62px;
    color: white;
    background-color: #323232;
    border-color: rgb(218, 218, 218);
    border-top-right-radius: 31px;
    border-top-left-radius: 31px;
    font-size: 16px;
    border-width: 2px;
    border-bottom-width: 0.4px;
    border-style: solid;
    border-bottom-color:#181818;
    cursor: pointer;
}

#downVol{
    position: relative;
    top: -371px;
    right: -60px;
    height: 59px;
    width: 62px;
    color: white;
    background-color: #323232;
    border-color: rgb(218, 218, 218);
    outline-style: none;
    border-bottom-right-radius: 31px;
    border-bottom-left-radius: 31px;
    font-size: 16px;
    border-width: 2px;
    border-top-width: 0.4px;
    border-style: solid;
    border-top-color:#181818;
    cursor: pointer;
}

#modalButton{
    position: relative;
    top: 649px;
    right: -144px;
    height: 38px;
    width: 81px;
    border-radius: 1px;
    background-color: #323232;
    outline-style: solid;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(218, 218, 218);
    z-index: 1;
    color: white;
    font-size: 19px;
    cursor: pointer;
}








